/* Esquema De Colores ====================================== */

:root {
        --body-bg: #ff6944;
        --caja-v1: #CAD5E2;
        --shadow: #1D232A;
        --border: #818181;
        --blanco: #ffffff;
        --textos: #000000;
    }