/* HEADER ========================================== */

/* Barra De Navegacion ----------------------------- */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0rem;
    left: 1rem;
    right: 1rem;
    background-color: #ffffff21;
    border-bottom: 2px solid #ffffff26;
    filter: drop-shadow(0px 0px -3px #00000080);
    width: auto;
    height: auto;
    min-height: 70px;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 10px var(--shadow);
    z-index: 1000;
}

/* Caja Del Logotipo ----------------------------- */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Logotipo en si --- */
.logotipo {
    margin: 6px 8px;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    filter: invert(100%);
    opacity: calc(70%);

    &:hover {
        opacity: calc(100%);
    }
}

/* Titulo Del Logo --- */
.titulo {
    font-size: 60px;
    font-family: "Tituloszz",sans-serif;
    line-height: 1;
    margin: 0;
    display: inline-flex;
    align-items: center;
    height: 40px;
    transition: all 0.3s ease-in-out;
    color: #ffffff80;

    &:hover {
        color: var(--blanco)
    }
}

.titulo span {
    position: relative;
    top: 4px
}

/* Links Del Nav ------------------------------- */

.nav-list {
    display: flex;
    margin-left: 5px;
    list-style: none;
    font-size: 22px;
    color: #fdfdfdc0;
    font-family: "linksN",sans-serif;
    font-size: 50px;
    margin: 0 40px 0 0;
}

/* li de links --- */
.nav-list li {
    margin: 0px 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
        color: var(--blanco)
    }
}

/* Caja Del Buscador -------------------------- */

.buscador {
    display: flex;
    flex: 1;
    justify-content: center;
}

/* Form Del Buscador --- */
.search-field {
    width: 100%;
    max-width: 515px;
    position: relative;
    margin: 0 0 0 12px;
}

/* Input Del Buscador --- */
.search-input {
    width: 100%;
    padding: 7px 12px;
    padding-right: 70px;
    border: 0;
    border-radius: 20px;
    color: #ffffff80;
    background-color: color-mix(in srgb, var(--caja-v1) 10%, transparent);
    box-shadow: 0 1px 4px var(--shadow), 4px 0px 12px #a84e4e;
    font-size: 16px;
    outline: none;
    transition: all 0.25s ease-in-out;

    &::placeholder {
        color: #ffffff80;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px var(--shadow);
    }
}


/* Boton Del Buscador ---*/
.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 15px 5px 8px;
    border: none;
    color: #ffffff80;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
    transform: translateY(-50%) scale(1.05);
    color: var(--blanco);
    }

    &:active {
    transform: translateY(-50%) scale(0.95);
    text-shadow: none;
}
}


/* Botón Oculto Del Buscador --- */
.search-toggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--textos);
}


